<h1>{{ foo }}</h1>

<table class="confluenceTable">
    <tbody>
    <tr>
        <th class="confluenceTh">test321</th>
        <th class="confluenceTh"></th>
    </tr>
    <tr>
        <td class="confluenceTd">h</td>
        <td class="confluenceTd"></td>
    </tr>
    <tr>
        <td class="confluenceTd">k</td>
        <td class="confluenceTd"></td>
    </tr>
    </tbody>
</table>